//====================================================================================================
.header {
	&__content {
	}

	&__top {
		padding: 15px 0;
		border-left: 1px solid #bbbbbb;
		border-right: 1px solid #bbbbbb;
	}

	&__logo {
		text-align: center;
	}

	&__logo-img {
		width: 75px;
	}

	&__bottom {
		padding: 25px;
		border: 1px solid #bbbbbb;
	}
}
