.main {
    &__container {
    }

    &__row {
        display: flex;
    }
    .products {
        flex: 0 0 calc(100% - 300px);
        background-color: yellow;
    }
    .sidebar {
        flex: 0 0 300px;
    }
}
