.main {
    &__container {
    }

    &__row {
        display: flex;
        @media (max-width: $md2+px) {
            display: block;
        }
    }
    .miniside {
        display: none;
        @media (max-width: $md2+px) {
            display: block;
            border-bottom: 1px solid #bbbbbb;
            margin-bottom: 10px;
        }
    }
    .products {
        flex: 0 0 calc(100% - 250px);
        @media (max-width: $md2+px) {
            flex: 0 0 100%;
        }
    }
    .sidebar {
        flex: 0 0 250px;
        @media (max-width: $md2+px) {
            display: none;
        }
    }
}
